<div class="p-3">
  <h3>Text</h3>
  <form id="textForm">
    <app-valde-form-field
      [id]="'textField'"
      label="Text field"
      placeholder="Sample text here"
      (valueChanged)="onValueChanged($event)"
    ></app-valde-form-field>
  </form>
  <h3>Email</h3>
  <form id="emailForm">
    <app-valde-form-field
      [id]="'emailField'"
      label="Email field"
      placeholder="jon.doe@domain.com"
      type="email"
      (valueChanged)="onValueChanged($event)"
    ></app-valde-form-field>
  </form>
  <h3>Number</h3>
  <form id="numberForm">
    <app-valde-form-field-number
      [id]="'numberField'"
      [isInteger]="true"
      label="Integer field"
      placeholder="Type a number here"
      [showErrorOnBlur]="false"
      type="number"
      (valueChanged)="onValueChanged($event)"
    ></app-valde-form-field-number>
    <app-valde-form-field-number
      [id]="'numberField2'"
      [isInteger]="true"
      label="Number with value"
      placeholder="Type a number here"
      [showErrorOnBlur]="false"
      type="number"
      [value]="56"
      (valueChanged)="onValueChanged($event)"
    ></app-valde-form-field-number>
    <app-valde-form-field-number
      [id]="'numberField3'"
      label="Decimal field filed input"
      placeholder="Type a decimal number here"
      [step]="0.1"
      type="number"
      value="231e1234"
      (valueChanged)="onValueChanged($event)"
    ></app-valde-form-field-number>
    <app-valde-form-field-number
      #inputNumber
      [id]="'numberField4'"
      label="Decimal field"
      placeholder="Type a decimal number here"
      [showErrorOnBlur]="false"
      [step]="0.1"
      type="number"
      value=""
      (valueChanged)="onValueChanged($event)"
    ></app-valde-form-field-number>
  </form>
  <button (click)="onClickButtonGetFocus()">Focus</button>
  <h3>File</h3>
  <form id="fileForm">
    <app-valde-form-field
      [id]="'fileField'"
      label="File field"
      placeholder="Select a file"
      type="file"
      (valueChanged)="onValueChanged($event)"
    ></app-valde-form-field>
  </form>
</div>
