<h1>Login</h1>
<form>
  <app-valde-form-field
    data-test-id="loginUsernameInput"
    [id]="'username'"
    [label]="'Username'"
    [msgError]="usernameError"
    [placeholder]="'Insert your username'"
    [type]="'text'"
    [value]="username"
    (valueChanged)="onUsernameValueChanged($event)"
  ></app-valde-form-field>
  <app-valde-form-field
    data-test-id="loginPasswordInput"
    [id]="'password'"
    [label]="'Password'"
    [msgError]="passwordError"
    [placeholder]="'Insert your password'"
    [type]="'password'"
    [value]="password"
    (valueChanged)="onPasswordValueChanged($event)"
  ></app-valde-form-field>
</form>
<div class="login-buttons">
  <app-valde-button
    data-test-id="loginResetButton"
    [label]="'Reset'"
    [outline]="true"
    [size]="ButtonSize.Large"
    [buttonStyle]="ButtonStyle.Secondary"
    (onClick)="reset()"
  ></app-valde-button>
  <app-valde-button
    data-test-id="loginLoginButton"
    [label]="'Login'"
    [size]="ButtonSize.Large"
    [buttonStyle]="ButtonStyle.Primary"
    (onClick)="login()"
  ></app-valde-button>
</div>
