<div class="p-3">
  <h3>Primary Button</h3>
  <app-valde-button
    label="Primary Large"
    [size]="ButtonSize.Large"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    label="Primary Small"
    [size]="ButtonSize.Small"
  ></app-valde-button>
  &nbsp;
  <app-valde-button label="Primary"></app-valde-button>
  &nbsp;
  <app-valde-button label="Primary Outline" [outline]="true"></app-valde-button>
  &nbsp;
  <app-valde-button
    label="Primary Disabled"
    [disabled]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button label="Schedule" icon="alarm"></app-valde-button>

  <br />
  <br />

  <h3>Secondary Button</h3>
  <app-valde-button
    [buttonStyle]="ButtonStyle.Secondary"
    label="Secondary Large"
    [size]="ButtonSize.Large"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Secondary"
    label="Secondary Small"
    [size]="ButtonSize.Small"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Secondary"
    label="Secondary"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Secondary"
    label="Secondary Outline"
    [outline]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Secondary"
    label="Secondary Disabled"
    [disabled]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Secondary"
    label="Refresh"
    icon="arrow-clockwise"
  ></app-valde-button>

  <br />
  <br />

  <h3>Dark Button</h3>
  <app-valde-button
    [buttonStyle]="ButtonStyle.Dark"
    label="Dark Large"
    [size]="ButtonSize.Large"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Dark"
    label="Dark Small"
    [size]="ButtonSize.Small"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Dark"
    label="Dark"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Dark"
    label="Dark Outline"
    [outline]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Dark"
    label="Dark Disabled"
    [disabled]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Dark"
    label="Play"
    icon="caret-right-fill"
  ></app-valde-button>

  <br />
  <br />

  <h3>Danger Button</h3>
  <app-valde-button
    [buttonStyle]="ButtonStyle.Danger"
    label="Danger Large"
    [size]="ButtonSize.Large"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Danger"
    label="Danger Small"
    [size]="ButtonSize.Small"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Danger"
    label="Danger"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Danger"
    label="Danger Outline"
    [outline]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Danger"
    label="Danger Disabled"
    [disabled]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Danger"
    label="Delete"
    icon="x"
  ></app-valde-button>

  <br />
  <br />

  <h3>Info Button</h3>
  <app-valde-button
    [buttonStyle]="ButtonStyle.Info"
    label="Info Large"
    [size]="ButtonSize.Large"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Info"
    label="Info Small"
    [size]="ButtonSize.Small"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Info"
    label="Info"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Info"
    label="Info Outline"
    [outline]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Info"
    label="Info Disabled"
    [disabled]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Info"
    label="More info"
    icon="info-circle"
  ></app-valde-button>

  <br />
  <br />

  <h3>Light Button</h3>
  <app-valde-button
    [buttonStyle]="ButtonStyle.Light"
    label="Light Large"
    [size]="ButtonSize.Large"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Light"
    label="Light Small"
    [size]="ButtonSize.Small"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Light"
    label="Light"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Light"
    label="Light Outline"
    [outline]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Light"
    label="Light Disabled"
    [disabled]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Light"
    label="Play"
    icon="caret-right-fill"
  ></app-valde-button>

  <br />
  <br />

  <h3>Success Button</h3>
  <app-valde-button
    [buttonStyle]="ButtonStyle.Success"
    label="Success Large"
    [size]="ButtonSize.Large"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Success"
    label="Success Small"
    [size]="ButtonSize.Small"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Success"
    label="Success"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Success"
    label="Success Outline"
    [outline]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Success"
    label="Success Disabled"
    [disabled]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Success"
    label="OK"
    icon="check"
  ></app-valde-button>

  <br />
  <br />

  <h3>Warning Button</h3>
  <app-valde-button
    [buttonStyle]="ButtonStyle.Warning"
    label="Warning Large"
    [size]="ButtonSize.Large"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Warning"
    label="Warning Small"
    [size]="ButtonSize.Small"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Warning"
    label="Warning"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Warning"
    label="Warning Outline"
    [outline]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Warning"
    label="Warning Disabled"
    [disabled]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Warning"
    label="Show issue"
    icon="exclamation-triangle-fill"
  ></app-valde-button>

  <br />
  <br />

  <h3>Link Button</h3>
  <app-valde-button
    [buttonStyle]="ButtonStyle.Link"
    label="Link Large"
    [size]="ButtonSize.Large"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Link"
    label="Link Small"
    [size]="ButtonSize.Small"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Link"
    label="Link"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Link"
    label="Link Outline"
    [outline]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Link"
    label="Link Disabled"
    [disabled]="true"
  ></app-valde-button>
  &nbsp;
  <app-valde-button
    [buttonStyle]="ButtonStyle.Link"
    label="Show content"
    icon="arrow-up-right-square"
  ></app-valde-button>
</div>
<div class="p-3">
  <h3>Type Button</h3>
  <app-valde-button label="Submit" type="submit"></app-valde-button>
  <br /><br />
  <app-valde-button
    label="Rest"
    type="reset"
    [buttonStyle]="ButtonStyle.Secondary"
  ></app-valde-button>
</div>
