<div class="mb-3">
  <label [for]="id" class="form-label">{{ label }}</label>
  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchDefault>
      <input
        autocomplete="false"
        class="form-control"
        [disabled]="disabled"
        [id]="id"
        [placeholder]="placeholder"
        [readonly]="readonly"
        [type]="type"
        [value]="valueToShow"
        (blur)="onBlur($event)"
        (keyup)="onKeyup($event)"
      />
    </ng-container>
    <ng-container *ngSwitchCase="'file'">
      <input
        autocomplete="false"
        class="form-control"
        [disabled]="disabled"
        [id]="id"
        [placeholder]="placeholder"
        [readonly]="readonly"
        [type]="type"
        [value]="valueToShow"
        (change)="onFileChange($event)"
      />
    </ng-container>
  </ng-container>
</div>
