<div class="mb-3">
  <label [for]="id" class="form-label">{{ label }}</label>
  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchDefault>
      <input
        #inputControl
        autocomplete="off"
        attr.data-test-id="{{ id }}"
        class="form-control"
        [disabled]="disabled"
        [id]="id"
        [placeholder]="placeholder"
        [readonly]="readonly"
        [type]="type"
        [value]="valueToShow"
        (blur)="onBlur($event)"
        (change)="onChange($event)"
        (keyup)="onKeyup($event)"
      />
      <small
        *ngIf="msgError"
        aria-invalid
        data-test-id="inputError"
        class="
          tooltip-error
          badge
          mb-3
          px-2
          py-1
          fw-semibold
          text-white
          bg-danger bg-opacity-75
          border border-danger
          rounded-2
        "
        >{{ msgError }}</small
      >
    </ng-container>
    <ng-container *ngSwitchCase="'file'">
      <input
        #inputControl
        autocomplete="off"
        class="form-control"
        attr.data-test-id="{{ id }}"
        [disabled]="disabled"
        [id]="id"
        [placeholder]="placeholder"
        [readonly]="readonly"
        [type]="type"
        [value]="valueToShow"
        (change)="onFileChange($event)"
      />
    </ng-container>
  </ng-container>
</div>
